<ion-view title="Inicial" id="page1" class=" " style="">
    <ion-content padding="true" class="has-header">
      <br />
      <br />
        <div style="text-align: center;" class="col">
          <button class="button button-large button-outline button-positive" ng-click="self.chamarTelaEntrada()">
            <img src="img/ic_directions_car_black_48px.svg"/>
            <label>Entrada</label>
          </button>
        </div>
        <br />
        <div style="text-align: center;" class="col">
          <button class="button button-large button-outline button-positive" ng-click="self.chamarTelaSaida()">
            <img src="img/ic_monetization_on_black_48px.svg"/>
            <label>Saída</label>
          </button>
        </div>
        <br />
        <div style="text-align: center;" class="col" ng-if="false">
          <button class="button button-large button-outline button-positive">
            <img src="img/ic_directions_car_black_48px.svg"/>
            <label>Mensalista</label>
          </button>
        </div>
    </ion-content>
</ion-view>
