<ion-view title="Mensalista" id="page5" class=" " style="">
  <ion-content padding="true" class="has-header">
    <br />
    <h3 class="title">Selecione a opção desejada:</h3>
    <br />
      <div style="text-align: center;" class="col">
        <button class="button button-large button-outline button-positive">
          <img src="img/ic_add_circle_outline_black_48px.svg"/>
          <label>Novo</label>
        </button>
      </div>
      <br />
      <div style="text-align: center;" class="col">
        <button class="button button-large button-outline button-positive">
          <img src="img/ic_monetization_on_black_48px.svg"/>
          <label>Pagamento</label>
        </button>
      </div>
      <br />
      <div style="text-align: center;" class="col">
        <button class="button button-large button-outline button-positive">
          <img src="img/ic_directions_car_black_48px.svg"/>
          <label>Mensalistas</label>
        </button>
      </div>
  </ion-content>
</ion-view>
